<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC6BBDA92C7F658A0096A74A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC6BBDC22C7F658C0096A74A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC6BBDCC2C7F658C0096A74A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
